* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font: Arial;
}
h1 {
	text-align: center;
	margin: 30px;
	font-size: 175%;
}

div {
	position: relative;
}

.wrapper {
	margin: 10px;
}

#p1, #p2, #p3 {
	margin: 10px;
	padding: 2px;
	border: solid black 1px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30%;
	text-align: center;
	font-size: 125%;
}
#p1 {
	background-color: #A52A2A;
	color: white;
}
#p2 {
	background-color: #e00446;
}
#p3 {
	background-color: #f7d0d0;
}

.dev {
	padding: 10px;
	padding-top: 35px;
	margin: 10px;
	height: 170px;
	border: solid black 1px;
	background-color: grey;
}

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
	}
	.col-lg-4 {
		width: 33.333%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#p3 {
		width: 20%;
	}
	.col-md-6, .col-md-12 {
		float: left;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.dev {
		height: auto;
	}
	.col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
		height: auto;
	}
	
}

